@import url(https://fonts.googleapis.com/css?family=Lato:400,300|Roboto:400,100,300,500|Open+Sans&subset=latin,latin-ext);
@import "_mixins","_header";

html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


#wrapper{
  width: 100%;
  height: 100%;
  background: #f8f8f8;
  border-top: .5rem solid #FF5722;

  &.admin{
    border-top: .5rem solid #009688;
  }
}

#content{
  padding: 1rem 0;
}
